body {
    background-image: url(tay.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    font-family: 'Karla', sans-serif;
    align-content: center;
}


h1 {
    font-family: 'Bebas Neue', cursive;
    font-size: 300%;
}

#lyricLine {
    margin: 5%;
    font-size: 300%;
    text-align: center;
}

#albumValue {
    display: none;
}

.buttons {
    background-color: #EBEBEB;
    color: black;
    border: 2px solid #5f6896;
    border-radius: 4px;
    font-size: 15px;
}

.buttons:hover {
    box-shadow: 1px 3px 5px #6f7075;
}